/*
 * easybimehlanding_lib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

package otherinsurancetypes_pkg


import(
	"encoding/json"
	"github.com/apimatic/unirest-go"
	"easybimehlanding_lib/apihelper_pkg"
	"easybimehlanding_lib/configuration_pkg"
	"easybimehlanding_lib/models_pkg"
)
/*
 * Client structure as interface implementation
 */
type OTHERINSURANCETYPES_IMPL struct {
     config configuration_pkg.CONFIGURATION
}

/**
 * دریافت لیست سایر بیمه نامه ها
 * @param    string        subDomain     parameter: Required
 * @param    string        xApiKey       parameter: Required
 * @return	Returns the *models_pkg.OtherInsuranceTypes response from the API call
 */
func (me *OTHERINSURANCETYPES_IMPL) GetOtherInsuranceTypes (
            subDomain string,
            xApiKey string) (*models_pkg.OtherInsuranceTypes, error) {
    //the endpoint path uri
    _pathUrl := "/ComboData/OtherInsuranceTypes"

    //variable to hold errors
    var err error = nil
    //the base uri for api requests
    _queryBuilder := configuration_pkg.GetBaseURI(configuration_pkg.SERVER_1,me.config);

    //prepare query string for API call
   _queryBuilder = _queryBuilder + _pathUrl

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "subDomain" : subDomain,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }
    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "x-api-key" : apihelper_pkg.ToString(xApiKey, ""),
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request,false);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.OtherInsuranceTypes = &models_pkg.OtherInsuranceTypes{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil

}

/**
 * ارسال توکن تایید شماره تماس، برای احراز هویت کاربر
 * @param    string        mobile                       parameter: Required
 * @param    string        insuranceCentreSubDomain     parameter: Required
 * @param    string        xApiKey                      parameter: Required
 * @return	Returns the *models_pkg.SendSmsToken response from the API call
 */
func (me *OTHERINSURANCETYPES_IMPL) GetSendSmsToken (
            mobile string,
            insuranceCentreSubDomain string,
            xApiKey string) (*models_pkg.SendSmsToken, error) {
    //the endpoint path uri
    _pathUrl := "/Account/SendSmsToken"

    //variable to hold errors
    var err error = nil
    //the base uri for api requests
    _queryBuilder := configuration_pkg.GetBaseURI(configuration_pkg.SERVER_1,me.config);

    //prepare query string for API call
   _queryBuilder = _queryBuilder + _pathUrl

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "mobile" : mobile,
        "insuranceCentreSubDomain" : insuranceCentreSubDomain,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }
    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "x-api-key" : apihelper_pkg.ToString(xApiKey, ""),
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request,false);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.SendSmsToken = &models_pkg.SendSmsToken{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil

}

/**
 * تایید توکن پیامک شده به کاربر، برای احراز هویت
 * @param    string        mobile                       parameter: Required
 * @param    int64         token                        parameter: Required
 * @param    string        insuranceCentreSubDomain     parameter: Required
 * @param    string        aliasName                    parameter: Required
 * @param    string        resource                     parameter: Required
 * @param    string        xApiKey                      parameter: Required
 * @return	Returns the *models_pkg.Status200 response from the API call
 */
func (me *OTHERINSURANCETYPES_IMPL) GetVerifySmsToken (
            mobile string,
            token int64,
            insuranceCentreSubDomain string,
            aliasName string,
            resource string,
            xApiKey string) (*models_pkg.Status200, error) {
    //the endpoint path uri
    _pathUrl := "/Account/verifySmsToken"

    //variable to hold errors
    var err error = nil
    //the base uri for api requests
    _queryBuilder := configuration_pkg.GetBaseURI(configuration_pkg.SERVER_1,me.config);

    //prepare query string for API call
   _queryBuilder = _queryBuilder + _pathUrl

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "mobile" : mobile,
        "token" : token,
        "insuranceCentreSubDomain" : insuranceCentreSubDomain,
        "aliasName" : aliasName,
        "resource" : resource,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }
    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "x-api-key" : apihelper_pkg.ToString(xApiKey, ""),
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request,false);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 400) {
        err = apihelper_pkg.NewAPIError("Bad Request", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.Status200 = &models_pkg.Status200{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil

}

